################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/weather/Debug
/weather/.vs/weather/v15
/weather/weather/Debug
